.timeline > li .timeline-image{
	background-color: white;
}
/****************** ETOILES **********************/
#type_C:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f006 \f006 \f006";
	margin-left: 10px;
}
#type_HTML5:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f123 \f006";
	margin-left: 10px;
}
#type_CSS:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f005 \f006";
	margin-left: 10px;
}
#type_Javascript:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f123 \f006 \f006";
	margin-left: 10px;
}
#type_jquery:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f123 \f006 \f006";
	margin-left: 10px;
}
#type_PHP:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f123 \f006";
	margin-left: 10px;
}
#type_SQL:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f005 \f006";
	margin-left: 10px;
}
#type_Ajax:after{
	font-family: 'FontAwesome';
	content:"\f005 \f123 \f006 \f006 \f006";
	margin-left: 10px;
}
#type_BootStrap:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f123 \f006";
	margin-left: 10px;
}
#type_Wordpress:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f123 \f006";
	margin-left: 10px;
}
#type_Git:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f123 \f006 \f006";
	margin-left: 10px;
}
#type_Photoshop:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f006 \f006";
	margin-left: 10px;
}
#type_Indesign:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f005 \f006 \f006";
	margin-left: 10px;
}
#type_Illustrator:after{
	font-family: 'FontAwesome';
	content:"\f005 \f005 \f123 \f006 \f006";
	margin-left: 10px;
}

/********************** FIN ETOILES *************************************/
/************************** NAVIGATION **********************************/
.text-muted{
	text-align: right;
	margin-right: 45%;
	color: #6D9A97;
}
.text-muted-center{
	color: #6D9A97;
	text-align: center;
}
.text-muted-left{
	color: #6D9A97;
	text-align: left;
}

li a:hover {
    color: #6D9A97;
    outline: 0;
}

.navbar-custom .navbar-brand {
    color: #6D9A97;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
.navbar-custom .navbar-brand:hover{
	color: #777;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #6D9A97;
    background: #333;
    border-radius: 3px;
    outline: 0;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #6D9A97;
}

.text-primary, a {
    color: #709B9B;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fff;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #6D9A97;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #6D9A97;
}
.navbar-custom .navbar-nav > .active > a:focus, .navbar-custom .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #333;
}
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #6D9A97;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 60px;
    line-height: 40px;
    margin-bottom: 30px;
    color: #6D9A97;
}


/***************FIN NAVIGATION*********************************/
/************************** BOUTON *************************/
.btn-xl {
    color: #fff;
    background-color: #6D9A97;
    border-color: #333;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.btn-xl:hover{
	background-color: #333;
	 border-color: #333;
}
.btn-xl.active, .btn-xl:active, .btn-xl:focus, .btn-xl:hover, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #6D9A97;
    border-color: #6D9A97;
}
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #6D9A97;
}
.navbar-custom .navbar-toggle {
    background-color: #6D9A97;
    border-color: #6D9A97;
    font-size: 12px;
}
.navbar .navbar-default .navbar-custom .navbar-fixed-top .affix{
	background-color: #333;
	border-color: #333;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #6D9A97;
}



/********************* FIN BOUTON ********************/
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #6D9A97;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #6D9A97;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #6D9A97;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #6D9A97;
}

section#contact .form-control:focus {
  border-color: #6D9A97;
  box-shadow: none;
}

.timeline > li .timeline-image {
    border: 3px solid #6D9A97;
}


.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 3px solid #6D9A97;
}

::-moz-selection {
  text-shadow: none;
  background: #0058D7;
}
::selection {
  text-shadow: none;
  background: #0058D7;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

header{
	background-image: none;
	text-shadow: 1px 1px 1px black;
}
.section{
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/******************** BOUTON TELECHARGER  *************************/

.BoutonTelechargement{
	background-color: #333333;
	padding:  10px;
	border-radius: 3px;
	display: inline-block;
	margin-top: 25px;

}
.BoutonTelechargement:hover{
	color: #eeeeee;
	text-decoration: none;
}